.App {
margin-bottom: 55px;
}

.carousel-item {
	height: 450px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: red;
}

.carousel-image-1 {
	background-image: url("https://i.imgur.com/3oYxkFl.jpg");
	background-size: cover;
	color: black;
}

.carousel-caption h1 {
	color: white;
	font-family: 'Bungee', cursive;
	background-color: black;
}

.carousel-caption p {
	font-family: 'Acme', sans-serif;
	color: black;
	background-color: white;
}

.carousel-image-2 {
	background-image: url("https://i.imgur.com/F54LKJG.jpg");
	background-size: cover;
}

.Plans{
	display: inline-block;
}

.FullPost {
	text-align: justify;

}

#home-icons {
	background-color: lightcyan;
}

#main-footer {
	background-color: black;
	color: white;
	height: 55px;
}

#home-heading {
	background-color: lightcyan;
}

#home-heading  h1 {
	font-family: 'Bungee', cursive;
}

#home-heading  p {
	font-color: navy;
	font-size: 20px;
	font-family: 'Acme', sans-serif;
}

#info {
	background-color: lightcyan;
}

#info h3 {
	color: red;
	font-family: 'Bungee', cursive;
}

#info p {
	font-family: 'Acme', sans-serif;
}









